
body {
	font-family: times;
	text-align: center;
}

#allcontent {
	margin: 100px 100px 100px 100px
}

h2 {
	color: purple;
	margin: 50px 0px 0px 0px;
}


h3 {
	color: purple;
	margin: 50px 0px 0px 0px;
	font-size: 25px
}

header {
	height: 280px;
	background-color:w420e;
	margin: 5px 0px 50px 0px;
	border-style: none none solid none
}

header h1 {
	font-size: 80px; 
	text-transform: uppercase;
	font-family: Arial, helvetica, sans-serif; 
	letter-spacing: -3px;
	margin-top: -420px;
	margin-left: 140px;
}

#bignumber {
	font-size: 280px;
	text-transform: uppercase;
	font-family: "trebuchet MS", Arial, helvetica, sans-serif; 
	color: purple;
	position: relative;
	margin-top: -62px;
	margin-left: -420px; 
